<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  Configuration file for AntRun.

  Use this file to override the default properties contained
  in build.xml. For example, to override the build.jar.filename
  property (which sets the name of the compiled jar file), add
  an element

  <jar>
    <filename>foo</filename>
  </jar>

  inside the <build> element.

  **Caveat emptor:** in some cases, changing this file and running ant
  again will result in Ant using a cached version of the old file! Run
  "ant dummy" to make sure that the correct data is being read. Otherwise
  you might need to run "ant clean" and start over.
-->
<build>
  <!-- Uncomment any of these if you want to override the build
       script's default values -->

  <!-- The project's name -->
  <name>Network packets analysis palette for BeepBeep 3</name>

  <!-- The project's version number -->
  <version>0.1</version>

  <!-- The project's author. Currently this only
  shows up in the footer of the Javadoc documentation. -->
  <author>Sylvain Hall&#233;</author>

  <!-- The project's main class -->
  <mainclass>netp.Main</mainclass>

  <!-- Installation folders -->
  <srcdir>Source/src</srcdir>
  <libdir>lib</libdir>
  <bindir>Source/bin</bindir>
  <depdir>Source/dep</depdir>
  <docdir>Source/doc</docdir>
  <test>
    <srcdir>Source/src</srcdir>
    <bindir>Source/bin</bindir>
    <depdir>Source/dep</depdir>
    <docdir>Source/doc</docdir>
  </test>

  <!-- Output jar -->
  <jar>
    <filename>../netp.jar</filename>
    <withdoc>false</withdoc>
  </jar>

  <!--
    Write JAR dependencies here.
  -->
  <dependencies>
  	<dependency>
      <!-- Jnetpcap. It is hosted on SourceForge, which by default does not provide
           direct download links. Try one of the links below, which have been
           obtained with the SourceForge Download Link Converter
           (https://sourceforge.net/projects/sfdlc/) on 5/3/19. This is flaky,
           as SF links tend to change from time to time.
           
			http://aarnet.dl.sourceforge.net/project/jnetpcap/jnetpcap/Latest/jnetpcap-1.4.r1425-1.linux64.x86_64.tgz
			http://cdnetworks-kr-1.dl.sourceforge.net/project/jnetpcap/jnetpcap/Latest/jnetpcap-1.4.r1425-1.linux64.x86_64.tgz
			http://cdnetworks-kr-2.dl.sourceforge.net/project/jnetpcap/jnetpcap/Latest/jnetpcap-1.4.r1425-1.linux64.x86_64.tgz
			http://dfn.dl.sourceforge.net/project/jnetpcap/jnetpcap/Latest/jnetpcap-1.4.r1425-1.linux64.x86_64.tgz
			http://freefr.dl.sourceforge.net/project/jnetpcap/jnetpcap/Latest/jnetpcap-1.4.r1425-1.linux64.x86_64.tgz
			http://garr.dl.sourceforge.net/project/jnetpcap/jnetpcap/Latest/jnetpcap-1.4.r1425-1.linux64.x86_64.tgz
			http://heanet.dl.sourceforge.net/project/jnetpcap/jnetpcap/Latest/jnetpcap-1.4.r1425-1.linux64.x86_64.tgz
			http://hivelocity.dl.sourceforge.net/project/jnetpcap/jnetpcap/Latest/jnetpcap-1.4.r1425-1.linux64.x86_64.tgz
			http://ignum.dl.sourceforge.net/project/jnetpcap/jnetpcap/Latest/jnetpcap-1.4.r1425-1.linux64.x86_64.tgz
			http://internode.dl.sourceforge.net/project/jnetpcap/jnetpcap/Latest/jnetpcap-1.4.r1425-1.linux64.x86_64.tgz
			http://iweb.dl.sourceforge.net/project/jnetpcap/jnetpcap/Latest/jnetpcap-1.4.r1425-1.linux64.x86_64.tgz
			http://jaist.dl.sourceforge.net/project/jnetpcap/jnetpcap/Latest/jnetpcap-1.4.r1425-1.linux64.x86_64.tgz
			http://kent.dl.sourceforge.net/project/jnetpcap/jnetpcap/Latest/jnetpcap-1.4.r1425-1.linux64.x86_64.tgz
			http://nchc.dl.sourceforge.net/project/jnetpcap/jnetpcap/Latest/jnetpcap-1.4.r1425-1.linux64.x86_64.tgz
			http://netcologne.dl.sourceforge.net/project/jnetpcap/jnetpcap/Latest/jnetpcap-1.4.r1425-1.linux64.x86_64.tgz
			http://space.dl.sourceforge.net/project/jnetpcap/jnetpcap/Latest/jnetpcap-1.4.r1425-1.linux64.x86_64.tgz
			http://superb-sea2.dl.sourceforge.net/project/jnetpcap/jnetpcap/Latest/jnetpcap-1.4.r1425-1.linux64.x86_64.tgz
			http://switch.dl.sourceforge.net/project/jnetpcap/jnetpcap/Latest/jnetpcap-1.4.r1425-1.linux64.x86_64.tgz
			http://tenet.dl.sourceforge.net/project/jnetpcap/jnetpcap/Latest/jnetpcap-1.4.r1425-1.linux64.x86_64.tgz
			http://ufpr.dl.sourceforge.net/project/jnetpcap/jnetpcap/Latest/jnetpcap-1.4.r1425-1.linux64.x86_64.tgz
			http://voxel.dl.sourceforge.net/project/jnetpcap/jnetpcap/Latest/jnetpcap-1.4.r1425-1.linux64.x86_64.tgz
			http://waix.dl.sourceforge.net/project/jnetpcap/jnetpcap/Latest/jnetpcap-1.4.r1425-1.linux64.x86_64.tgz
      -->
      <name>JNetPcap</name>
      <classname>weka.core.Instances</classname>
      <files>
        <!-- Uncomment one of these files, depending on your OS (and optionally change the server)
        <zip>http://dfn.dl.sourceforge.net/project/jnetpcap/jnetpcap/Latest/jnetpcap-1.4.r1425-1.win64.zip</zip>
        <zip>http://dfn.dl.sourceforge.net/project/jnetpcap/jnetpcap/Latest/jnetpcap-1.4.r1425-1.win32.zip</zip>
        <tgz>http://dfn.dl.sourceforge.net/project/jnetpcap/jnetpcap/Latest/jnetpcap-1.4.r1425-1.linux32.i386.tgz</tgz>
        <tgz>http://dfn.dl.sourceforge.net/project/jnetpcap/jnetpcap/Latest/jnetpcap-1.4.r1425-1.rhel5.x86_64.tgz</tgz> 
        -->
        <tgz>http://cdnetworks-kr-1.dl.sourceforge.net/project/jnetpcap/jnetpcap/Latest/jnetpcap-1.4.r1425-1.linux64.x86_64.tgz</tgz>
      </files>
      <bundle>true</bundle>
    </dependency>
  </dependencies>
</build>
